body {
    background-color: white;
}

.border-green {
    -webkit-box-shadow:0px 0px 5px 1px #008744;
    -moz-box-shadow:0px 0px 5px 1px #008744;
    box-shadow:0px 0px 5px 1px #008744;
}

.border-red {
    -webkit-box-shadow:0px 0px 5px 1px #d62d20;
    -moz-box-shadow:0px 0px 5px 1px #d62d20;
    box-shadow:0px 0px 5px 1px #d62d20;
}

.border-blue {
    -webkit-box-shadow:0px 0px 5px 1px #0057e7;
    -moz-box-shadow:0px 0px 5px 1px #0057e7;
    box-shadow:0px 0px 5px 1px #0057e7;
}

.border-yellow {
    -webkit-box-shadow:0px 0px 5px 1px #ffa700;
    -moz-box-shadow:0px 0px 5px 1px #ffa700;
    box-shadow:0px 0px 5px 1px #ffa700;
}

.element {background-image:url("/images/classes/element_2.png");}
.forsaken {background-image:url("/images/classes/forsaken_2.png");}
.grove {background-image:url("/images/classes/grove_2.png");}
.mech {background-image:url("/images/classes/mech_2.png");}
.mastermind {background-image:url("/images/classes/mastermind_2.png");}

.proton {background-image:url("/images/units/element/Proton.png");}
.aquaspirit {background-image:url("/images/units/element/Aquaspirit.png");}
.windhawk {background-image:url("/images/units/element/Windhawk.png");}
.mudman {background-image:url("/images/units/element/Mudman.png");}
.disciple {background-image:url("/images/units/element/Disciple.png");}
.firelord {background-image:url("/images/units/element/Firelord.png");}

.bonewarrior {background-image:url("/images/units/forsaken/BoneWarrior.png");}
.gargoyle {background-image:url("/images/units/forsaken/Gargoyle.png");}
.gateguard {background-image:url("/images/units/forsaken/Gateguard.png");}
.butcher {background-image:url("/images/units/forsaken/Butcher.png");}
.nightmare {background-image:url("/images/units/forsaken/Nightmare.png");}
.lordofdeath {background-image:url("/images/units/forsaken/LordOfDeath.png");}

.buzz {background-image:url("/images/units/grove/Buzz.png");}
.ranger {background-image:url("/images/units/grove/Ranger.png");}
.wileshroom {background-image:url("/images/units/grove/Wileshroom.png");}
.honeyflower {background-image:url("/images/units/grove/Honeyflower.png");}
.antler {background-image:url("/images/units/grove/Antler.png");}
.bananabunk {background-image:url("/images/units/grove/BananaBunk.png");}

.peewee {background-image:url("/images/units/mech/Peewee.png");}
.bazooka {background-image:url("/images/units/mech/Bazooka.png");}
.tempest {background-image:url("/images/units/mech/Tempest.png");}
.aps {background-image:url("/images/units/mech/APS.png");}
.berserker {background-image:url("/images/units/mech/Berserker.png");}
.millennium {background-image:url("/images/units/mech/Millennium.png");}

#wrapper {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 60%;
    margin-top: 50px;
}

.text-div {
    font-family: "Oswald";

    margin-bottom: 32px;
}

.text-div h3 {
    font-family: "Arimo";
}

.step-by-step {
    font-family: "Arimo";
    font-size: 16px;

    text-align: center;
    margin-top: 4%;
    margin-bottom: 1.5%;
} 

.class-select {
    width: 80%;
    height: 10%;
    margin: 0 auto;

    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
}

.radio-img {
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;

    width: 13%;
    height: 100%;
    margin-left: 3.5%;
    margin-right: 3.5%;

    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.4) grayscale(.9) opacity(.7);
       -moz-filter: brightness(1.4) grayscale(.9) opacity(.7);
            filter: brightness(1.4) grayscale(.9) opacity(.7);
}

.radio-img:hover {
    -webkit-filter: brightness(1.1) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.1) grayscale(.5) opacity(.9);
            filter: brightness(1.1) grayscale(.5) opacity(.9);
}

.radio-selector input {
    margin:0;padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}

.radio-selector input[type=radio]:active +.radio-img {
    opacity: .9;
}

.radio-selector input[type=radio]:checked +.radio-img {
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}

.unit-select {
    width: 80%;
    height: 25%;
    margin: 0 auto;

    border-style: solid;
    border-color: rgb(44, 44, 44);
    border-width: 2px;
    border-radius: 10px;
}

.unit-sort-div {
    width:50%;
    height: 50%;
    float: left;

    text-align: center;
}

.unit-sort-div input[type=checkbox] {
    display:none;
}

.unit-img {
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;

    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;

    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.4) grayscale(.5) opacity(.7);
       -moz-filter: brightness(1.4) grayscale(.5) opacity(.7);
            filter: brightness(1.4) grayscale(.5) opacity(.7);
}

.unit-img:hover {
     -webkit-filter: brightness(1.1) grayscale(.5) opacity(.9);
        -moz-filter: brightness(1.1) grayscale(.5) opacity(.9);
             filter: brightness(1.1) grayscale(.5) opacity(.9);
}

.unit-sort-div input[type=checkbox]:active + .unit-img {
    opacity: .9;
}

.unit-sort-div input[type=checkbox]:checked + .unit-img {
     -webkit-filter: none;
        -moz-filter: none;
             filter: none;

    border-style: solid;
    border-color: red;
    border-width: 1px;

}