/* BOOTSTRAP OVERWRITE */

.progress {
    border-radius: 0;
    height: 5px;
    margin-top: 55px;
}

.btn-group {
    margin-top: 3%;
}

.alert {
    margin-top: 15px;
    width: 60%;
}

/* OWN CSS */

.welcome {
    margin-top: 15px;
}

.guide-div {
    margin-top: 3%;
    margin-bottom: 5%;
}

.guide-text {
    text-align: center;
}

.ads1 {
    height: 90px;
    width: 728px;
    background-color: beige;
}